body {
  background-color: #1B5E20;
}

a {
  font-weight: bold;
  color: #1B5E20;
}

#outer {
    display: flex;
  }

@media (min-width: 1366px) {
   #content {
    width: 1024px;
   }
}

@media (max-width: 1023px) {
   #content {
    width: 95%;
   }
}

#content {
  background: #69F0AE;
  margin: auto;
  padding: 0em 1em 0em 1em;
  font-family: 'EB Garamond', serif;
  font-size: large;
  border-radius: 1em;
}